<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/UpdateProfile}">Profile</a>
	</div>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Mission Management Home Page</h1>
	<p
		th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

	<table>
		<thead>
			<tr>
				<th>Destination</th>
				<th>Date</th>
				<th>Details</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="m : ${missions}">
				<td th:text="${m.destination}"></td>
				<td th:text="${ m.date }"></td>
				<td><a th:href="@{/GetMissionDetails(missionid=${m.id})}">Details</a></td>
				<td><a th:href="@{/DeleteMission(missionid=${m.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>

	<div>
		<p>Complete the form to create a mission</p>
		<form action="#" th:action="@{/CreateMission}" method="POST">
			<fieldset>
				<p>
					Destination: <input type="text" name="destination" required />
				</p>
				<p>
					Description: <input type="text" name="description" required />
				</p>
				<p>
					Start Day: <input type="date" name="date"
						th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
						placeholder="yyyy-mm-dd" required />
				</p>
				<p>
					Duration (in days): <input type="number" name="days" min=0 required />
				</p>

				<p>
					<label for="projects">Choose a project:</label> 
					<select name="projectId" id="projectId">
						<option th:each="p : ${projects}" th:value="${p.id}"
							th:text="${p.name}"></option>
					</select>
				</p>


				<input type="submit" name="Create Mission">
			</fieldset>
		</form>
	</div>
</body>
</html>